<!DOCTYPE html>
<html lang="en">

<head>
  <title>GameKeeper</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.6.0/gsap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.6.0/ScrollTrigger.min.js"></script>

  <script src="https://kit.fontawesome.com/863c23aca6.js" crossorigin="anonymous"></script>
  <link href="stylesheets/style.css" rel="stylesheet">
  <link href="stylesheets/sidebar.css" rel="stylesheet">
</head>

<body>

  <body>

    <div class="d-flex" id="wrapper">

      <!-- Sidebar -->
      <div class="bg-dark border-right" id="sidebar-wrapper">
        <div class="sidebar-heading">Game Keeper</div>
        <div class="list-group list-group-flush">
          <a href="/" class="list-group-item list-group-item-action bg-dark sidebarText"><button
              class="popup btn btn-secondary">Home</button></a>

          <a href="/wishlist" class=" hideLink list-group-item list-group-item-action bg-dark sidebarText">My
            Wishlist</a>
          <a class="list-group-item list-group-item-action bg-dark sidebarText"><button type="button"
              class="popup hidePopup btn btn-secondary" data-bs-container="body" data-bs-toggle="popover"
              data-bs-placement="right" data-bs-content="* Please log in to access your wishlist.">
              My Wishlist</button></a>

          <a href="/mygames" class=" hideLink list-group-item list-group-item-action bg-dark sidebarText">My Games</a>
          <a href="/mygames" class="list-group-item list-group-item-action bg-dark sidebarText"><a
              class="list-group-item list-group-item-action bg-dark sidebarText"><button type="button"
                class="popup hidePopup btn btn-secondary" data-bs-container="body" data-bs-toggle="popover"
                data-bs-placement="right" data-bs-content="* Please log in to access your games.">
                My Games</button></a>
            <br>

            <img src="img/greendie.png" alt="green die" id="greendie">
        </div>
      </div>
      <!-- /#sidebar-wrapper -->

      <!-- Page Content -->
      <div id="page-content-wrapper">

        {{{ body }}}

      </div>
      <!-- /#page-content-wrapper -->

    </div>

    <footer class="footer">Icon made by Delapouite.
      <br>
      https://game-icons.net
    </footer>

    <script type="text/javascript" src="js/main.js"></script>

  </body>

</html>