 
<div class="jumbotron jumbotron-fluid">
  <div class="container">
   <h1>Welcome to Game Keeper.</h1>
   <p class="lead">roll the dice and get board.</p>
   <div class="col-4 align-self-center">
       <div class="input-group mb-3">
  <input type="text" id="search-word" class="form-control" placeholder="Search games" aria-label="Search games" aria-describedby="button-addon2">
  <button class="btn btn-outline-secondary" type="submit" id="searchBtn" id="button-addon2">Submit</button>
</div>
</div>
      <div class="suggestions-drop">
        <ul class="suggestions">
        </ul>
      </div>
    </form>
    <div class="row filter-by">
        <div class="col align-self-start">
            <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                data-bs-toggle="dropdown" aria-expanded="false">
                Filter by:
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <li><a class="dropdown-item" href="#">Rating</a></li>
                <li><a class="dropdown-item" href="#">Play time</a></li>
                <li><a class="dropdown-item" href="#">Age</a></li>
            </ul>
            </div>
        </div>
  </div>
</div>
</div>

<div class="container-fluid">
    <div class="row">

         <div class="col searchGame">
            <h2 class="welcomeTitles">Games</h2>
            <ul class="searchGames list-group d-flex flex-wrap justify-content-center overflow-auto">
            </ul>
        </div>

        <div class="col popularGame">
            <h2 class="welcomeTitles">Popular Games</h2>
            <ul class="popGames list-group d-flex flex-wrap justify-content-center overflow-auto">
            </ul>
        </div>
    </div>
</div>

    {{!-- <div class="searchGames list-group-flush col-4 d-flex flex-wrap justify-content-center">
      <!--searched games go here-->

    </div> --}}


  <script type="text/javascript" src="js/members.js"></script>