 
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Game Keeper</h1>
    <p class="lead">roll the dice and get board.</p>
    <form class="create-form">
      <label for="Input">Search Board Games:</label>
      <input id="search-word" type="text" name="search-word" placeholder="Search...">
      <button type="submit" id="searchBtn">Submit</button>
      <br>
      <div class="suggestions-drop">
        <ul class="suggestions">
        </ul>
      </div>
    </form>
    <div class="row filter-by">
        <div class="col align-self-start">
            <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                data-bs-toggle="dropdown" aria-expanded="false">
                Filter by:
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <li><a class="dropdown-item" href="#">Rating</a></li>
                <li><a class="dropdown-item" href="#">Play time</a></li>
                <li><a class="dropdown-item" href="#">Age</a></li>
            </ul>
            </div>
        </div>
  </div>
</div>
</div>

<div class="container-fluid">
    <div class="row">

         <div class="col searchGame">
            <h2 class="welcomeTitles">Games</h2>
            <ul class="searchGames list-group d-flex flex-wrap justify-content-center overflow-auto">
            </ul>
        </div>

        <div class="col popularGame">
            <h2 class="welcomeTitles">Popular Games</h2>
            <ul class="popGames list-group d-flex flex-wrap justify-content-center overflow-auto">
            </ul>
        </div>
    </div>
</div>

    {{!-- <div class="searchGames list-group-flush col-4 d-flex flex-wrap justify-content-center">
      <!--searched games go here-->

    </div> --}}


  <script type="text/javascript" src="js/members.js"></script>
 