<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark border-bottom">
  <button class="btn btn-primary" id="menu-toggle">Menu</button>

  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      {{!-- <li class="nav-item active" id="topHomeBtn">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li> --}}
      <a href="/login" class="list-group-item list-group-item-action bg-dark sidebarText">Login</a>
    </ul>
  </div>
  <div class="member-name"></div>
</nav>

<div class="jumbotron">
  <h1 class="welcome">Welcome to Game Keeper.</h1>
  <p class="lead">roll the dice and get board.</p>
  <div class="col-4 offset-4 align-self-center">
    <div class="input-group mb-3">
      <input type="text" id="search-word" class="form-control" placeholder="Search games" aria-label="Search games" aria-describedby="button-addon2">
      <button class="btn btn-outline-secondary" type="submit" id="searchBtn" id="button-addon2">Submit</button>
    </div>
  </div>
  <div class="suggestions-drop">
    <ul class="suggestions">
    </ul>
  </div>
  <div class="row container">
    <h3>Filter Search</h3>
    <hr>
    <div class="col-3">
      <div class="form-check form-switch">
              <label for="playerMin" class="form-label">Minimum Players <span><input type="text" id="minPlayerInput"
                    value=""></span></label>
              <input class="form-check-input" type="checkbox" name="checkboxMinPlayers" id="checkboxMinPlayers">
              <input type="range" class="form-range" min="1" max="20" step="1" id="playerMin"
                onchange="minPlayerInput(this.value)">
            </div>
    </div>
    <div class="col-3">
      <div class="form-check form-switch">
              <label for="playerMax" class="form-label">Maximum Players <span><input type="text" id="maxPlayerInput"
                    value=""></span></label>
              <input class="form-check-input" type="checkbox" name="checkboxMaxPlayers" id="checkboxMaxPlayers">
              <input type="range" class="form-range" min="1" max="20" step="1" id="playerMax"
                onchange="maxPlayerInput(this.value)">
            </div>
    </div>
    <div class="col-3">
      <div class="form-check form-switch">
              <label for="gameTime" class="form-label">Max Game Time (minutes) <span><input type="text" id="timeInput"
                    value=""></span></label>
              <input class="form-check-input" type="checkbox" name="checkboxTime" id="checkboxTime">
              <input type="range" class="form-range" min="0" max="120" step="5" id="gameTime"
                onchange="updateTimeInput(this.value)">
            </div>
    </div>
    <div class="col-3">
      <div class="form-check form-switch">
              <label for="playerAge" class="form-label">Minimum Age <span><input type="text" id="ageInput"
                    value=""></span></label>
              <input class="form-check-input" type="checkbox" name="checkboxAge" id="checkboxAge">
              <input type="range" class="form-range" min="1" max="18" step="1" id="playerAge"
                onchange="updateAgeInput(this.value)">
            </div>
    </div>
  </div>
  {{!-- </form> --}}
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-3">
      <h2 class="welcomeTitles">Sign up below to save your games!</h2>
      <form class="signup">
        <div class="form-group">
          <label for="exampleInputFirstName">First Name</label>
          <input type="firstName" class="form-control" id="firstName-input" placeholder="First Name">
        </div>
        <div class="form-group">
          <label for="exampleInputLastName">Last Name</label>
          <input type="lastName" class="form-control" id="lastName-input" placeholder="Last Name">
        </div>
        <div class="form-group">
          <label for="exampleInputEmail1">Email address</label>
          <input type="email" class="form-control" id="email-input" placeholder="Email">
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Password</label>
          <input type="password" class="form-control" id="password-input" placeholder="Password">
        </div>
        <div style="display: none" id="alert" class="alert alert-danger" role="alert">
          <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
          <span class="sr-only">Error:</span> <span class="msg"></span>
        </div>
        <br>
        <button type="submit" class="btn btn-default">Sign Up</button>
      </form>
      <br />
      <p>Or log in <a href="/login">here</a></p>
    </div>

    <div class="col-9 searchGame">
      <h2 class="welcomeTitles">Games</h2>
      <ul class="searchGames list-group d-flex flex-wrap justify-content-center overflow-auto">
      </ul>
    </div>

    <div class="col-9 popularGame">
      <h2 class="welcomeTitles">Popular Games</h2>
      <ul class="popGames list-group d-flex flex-wrap justify-content-center overflow-auto">
      </ul>
    </div>
  </div>
</div>

<script type="text/javascript" src="js/welcome.js"></script>
<script type="text/javascript" src="js/signup.js"></script>

<script>
  //filter logic
      function maxPlayerInput(val) {
        document.getElementById('maxPlayerInput').value = val;
      }
      function minPlayerInput(val) {
        document.getElementById('minPlayerInput').value = val;
      }
      function updateTimeInput(val) {
        document.getElementById('timeInput').value = val;
      }
      function updateAgeInput(val) {
        document.getElementById('ageInput').value = val;
      }
</script>