<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<div class="jumbotron">
  <h1>Welcome to Game Keeper.</h1>
   <p class="lead">roll the dice and get board.</p>
   <div class="col-4 align-self-center">
       <div class="input-group mb-3">
  <input type="text" id="search-word" class="form-control" placeholder="Search games" aria-label="Search games" aria-describedby="button-addon2">
  <button class="btn btn-outline-secondary" type="submit" id="searchBtn button-addon2">Submit</button>
</div>
</div>
      <div class="suggestions-drop">
        <ul class="suggestions">
        </ul>
      </div>
  </form>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-3">
      <h2 class="welcomeTitles">Sign up below to save your games!</h2>
        <form class="signup">
            <div class="form-group">
                <label for="exampleInputFirstName">First Name</label>
                <input type="firstName" class="form-control" id="firstName-input" placeholder="First Name">
            </div>
            <div class="form-group">
                <label for="exampleInputLastName">Last Name</label>
                <input type="lastName" class="form-control" id="lastName-input" placeholder="Last Name">
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">Email address</label>
                <input type="email" class="form-control" id="email-input" placeholder="Email">
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Password</label>
                <input type="password" class="form-control" id="password-input" placeholder="Password">
            </div>
            <div style="display: none" id="alert" class="alert alert-danger" role="alert">
                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                <span class="sr-only">Error:</span> <span class="msg"></span>
            </div>
            <button type="submit" class="btn btn-default">Sign Up</button>
        </form>
        <br />
        <p>Or log in <a href="/login">here</a></p>
    </div>
    
    <div class="col-9 searchGame">
      <h2 class="welcomeTitles">Games</h2>
      <ul class="searchGames list-group d-flex flex-wrap justify-content-center overflow-auto">
      </ul>
    </div>

    <div class="col-9 popularGame">
      <h2 class="welcomeTitles">Popular Games</h2>
      <ul class="popGames list-group d-flex flex-wrap justify-content-center overflow-auto">
      </ul>
    </div>
  </div>
</div>

<script type="text/javascript" src="js/welcome.js"></script>
<script type="text/javascript" src="js/signup.js"></script>

