<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <h1 class="navbar-brand" href="#">GameKeeper</h1>

        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link active" aria-current="page" href="/members">Home</a>
                <a class="nav-link" href="/login">Log In</a>
                <a class="nav-link" href="/signup">Sign Up</a>
            </div>
        </div>
    </div>
</nav>
<div class="jumbotron">
  <h1>Welcome to Game Keeper. Search for games below:</h1>
  <form class="create-form">
      <label for="Input">Search Board Games:</label>
      <input id="search-word" type="text" name="search-word">
      <button type="submit" id="searchBtn">Submit</button>
       <br>
      <div class="suggestions-drop">
        <ul class="suggestions">
        </ul>
      </div>
  </form>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-3">
      <h2 class="welcomeTitles">Sign Up</h2>
        <form class="signup">
            <div class="form-group">
                <label for="exampleInputFirstName">First Name</label>
                <input type="firstName" class="form-control" id="firstName-input" placeholder="First Name">
            </div>
            <div class="form-group">
                <label for="exampleInputLastName">Last Name</label>
                <input type="lastName" class="form-control" id="lastName-input" placeholder="Last Name">
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">Email address</label>
                <input type="email" class="form-control" id="email-input" placeholder="Email">
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Password</label>
                <input type="password" class="form-control" id="password-input" placeholder="Password">
            </div>
            <div style="display: none" id="alert" class="alert alert-danger" role="alert">
                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                <span class="sr-only">Error:</span> <span class="msg"></span>
            </div>
            <button type="submit" class="btn btn-default">Sign Up</button>
        </form>
        <br />
        <p>Or log in <a href="/login">here</a></p>
    </div>
    
    <div class="col-9 searchGame">
      <h2 class="welcomeTitles">Games</h2>
      <ul class="searchGames list-group d-flex flex-wrap justify-content-center">

          {{#each game}}
          {{> partials/card}}
          {{/each}}
      </ul>
    </div>

    <div class="col-9 popularGame">
      <h2 class="welcomeTitles">Popular Games</h2>
      <ul class="popGames list-group d-flex flex-wrap justify-content-center">

          {{#each popGame}}
          {{> partials/card}}
          {{/each}}
      </ul>
    </div>
  </div>
</div>

<script type="text/javascript" src="js/welcome.js"></script>
<script type="text/javascript" src="js/signup.js"></script>

