<nav class="navbar navbar-expand-lg navbar-dark bg-dark border-bottom">
    <button class="btn btn-primary" id="menu-toggle">Menu</button>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <div class="member-name"></div>
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item login">
                <a class="nav-link" href="/logout" onclick="removeTokenFromSessionStorage()">Logout</a>
                <script>
                    function removeTokenFromSessionStorage() {
                        sessionStorage.removeItem("myToken");
                    };
                </script>

            </li>
        </ul>
    </div>
</nav>

<div class="container-fluid">
    <div class="row">
        <div class="col-4">
            <h2 class="welcomeTitles">Wishlist</h2>
            <div class="wishlist"></div>
        </div>
    </div>
</div>

<style>
  /*Popup logic*/
  .hidePopup {
    display: none;
  }
</style>

<script type="text/javascript" src="js/wishlist.js"></script>
