{{!-- Test wishlist here - Uyen--}}

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<div class="row wish-list">
    <h3>Wishlist</h3>
    <ul>
        <li>Test:wishlists cards will go here</li>
        {{#each games}}
        {{#unless own }}
        {{> games/card owned=false}}
        {{/unless}}
        {{/each}}
    </ul>
</div>

<script type="text/javascript" src="js/wishlist.js"></script>