body {
  background-color: black;
  color: greenyellow;
}
form.signup,
form.login {
  margin-top: 50px;
}
.jumbotron{
  background-image: url("../img/dicebackground2.jpg");
  text-align: center;
  padding-bottom: 3rem;
  padding-top: 2rem;
  border-bottom-style: ridge;
  border-bottom-width: 1rem;
}
.filter-by {
  text-align: center;
  padding: 10px;
  background-position: 0% 0%
}
.dropdown-toggle{
  display: flex;
  justify-content: center;
  border-radius: 10px;
}
.searchGames, .popGames {
  display: flex;
  flex-direction: row;
  justify-content: center;  
  height: 500px;
}
.card {
  margin: 10px;
}
.card-title {
text-align: center;
}
.card-body {
  background-color: black;
  border-style: ridge;
}
a{
  color: greenyellow;
}
.btn{
  color:black;
  background-color: greenyellow;
}
.col-sm{
  padding-top:2rem ;
}
ul{
  list-style-type: none;
}
.suggestions-drop {
  height: 100px;
  overflow: auto;
  overflow-y: scroll;
  white-space: nowrap;
  display: inline-block; 
}
.highlight {
  background-color: greenyellow;
  color: black;
}
.ownlistbox{
  position:relative;
  height: 600px;

}
.accordion-button{
  background-color: #3e4444;
  color:greenyellow;
  border-width: 5px;
  border-color: greenyellow;
  border: double;
}
/* headers on welcome page */
.welcomeTitles {
  text-align: center;
  margin-top: 10px;
}

.hide {
  display: none;
}


/*accordian buttons*/
.wishlistItem {
  background-color: #3e4444;
  color: greenyellow;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
}
/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .wishlistItem:hover {
  background-color: #ccc;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  border-style: ridge;
}
/* font color on sidebar links */
.sidebarText {
  color: #999;

}