body {
  background-color: black;
  color: greenyellow;
  font-family: monospace;
}
form.signup,
form.login {
  margin-top: 50px;
}

.jumbotron{
  background-image: url("../img/dicebackground2.jpg");
  text-align: center;
  padding-bottom: 1rem;
  padding-top: 1rem;
  border-bottom-style: ridge;
  border-bottom-width: 1rem;
}
.filter-by {
  text-align: center;
  padding: 10px;
  background-position: 0% 0%
}
.dropdown-toggle{
  display: flex;
  justify-content: center;
  border-radius: 10px;
}
.searchGames, .popGames {
  display: flex;
  flex-direction: row;
  justify-content: center;  
  height: 500px;
}
.card {
  margin: 10px;
}
.card-title {
text-align: center;
}
.card-body {
  background-color: black;
  border-style: ridge;
}
a{
  color: greenyellow;
}
.btn{
  color:black;
  background-color: greenyellow;
}
.col-sm{
  padding-top:2rem ;
}
ul{
  list-style-type: none;
}
.suggestions-container {
  margin-left: -30px;
}
.suggestions-drop {
  height: 65px;
  width: 100%;
  overflow: auto;
  overflow-y: scroll;
  white-space: nowrap;
  display: inline-block; 
  text-align: left;
}
.highlight {
  background-color: greenyellow;
  color: black;
}
.ownlistbox{
  position:relative;
  height: 600px;

}
.accordion-button{
  background-color: #3e4444;
  color:greenyellow;
  border-width: 5px;
  border-color: greenyellow;
  border: double;
}

/* headers on welcome page */
.welcomeTitles {
  text-align: center;
  margin-top: 10px;
}

.hide {
  display: none;
}
#topHomeBtn {
  background-color: transparent;
}
#searchBtn {
  border: transparent;
}
#searchBtn:hover {
  background-color: greenyellow;
  color: grey;
}

/*accordian buttons*/
.wishlistItem {
  background-color: #3e4444;
  color: greenyellow;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
}
.wishlistItem.active{
  background-color: black;
  border-style:dotted;
}
/* Add a background color to the button if it is clicked on */
.active, .wishlistItem:hover {
  background-color:rgba(183, 249, 86, 0.845);
  color: black;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  border-style: ridge;
}

.wishlistBtn{
width: -webkit-fill-available;
}

/* filter input boxes */
#maxPlayerInput, #minPlayerInput, #timeInput, #ageInput {
  background-color: transparent;
  border: none;
  color: greenyellow;
}

/* login page */
.loginCard {
  margin: 50px;
  padding: 10px;
  background-color: black;
  border: 4px solid #3e4444;
}